In [73]:
import pandas as pd
import os

In [74]:
import sqlite3

# Cleaning bollywood_movies

In [127]:
# load file

In [128]:
d_path=os.path.join('movies_data','bollywood_movies.sqlite')

In [129]:
conn = sqlite3.connect(d_path)

In [130]:
tables = pd.read_sql_query("SELECT name From sqlite_master WHERE type='table';",conn)
tables

     name
0  Movies

In [131]:
df=pd.read_sql_query("SELECT * FROM movies",conn)
df.head()

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,0,MOV001,Lagaan,Ashutosh Gowariker,None,2001,NaN,100.0,8.1,224,Aamir Khan,Gracy Singh,Hindi,Aamir Khan Productions
1,1,MOV002,Kabhi Khushi Kabhie Gham...,Karan Johar,Family Drama,2001,50.0,100.0,7.9,210,Shah Rukh Khan,Kajol,Hindi,Dharma Productions
2,2,MOV003,M.S. Dhoni: The Untold Story,Neeraj Pandey,Biographical Sports Drama,2016,NaN,215.0,7.9,184,Sushant Singh Rajput,Kiara Advani,Hindi,Fox Star Studios
3,3,MOV004,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,2017,250.0,1810.0,8.2,171,Prabhas,Anushka Shetty,Telugu,Arka Media Works
4,4,MOV005,Chennai Express,Rohit Shetty,Action Comedy,2013,NaN,423.0,6.4,141,Shah Rukh Khan,Deepika Padukone,Hindi,Red Chillies Entertainment

In [132]:
df = pd.read_sql_query("Select * from movies LIMIT 5",conn)
print(df.columns)

Index(['index', 'MovieID', 'Title', 'Director', 'Genre', 'ReleaseYear',
       'Budget (Crores)', 'BoxOffice (Crores)', 'Rating', 'Duration (minutes)',
       'LeadActor', 'LeadActress', 'Language', 'ProductionCompany'],
      dtype='object')

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               5 non-null      int64
 1   MovieID             5 non-null      object
 2   Title               5 non-null      object
 3   Director            5 non-null      object
 4   Genre               4 non-null      object
 5   ReleaseYear         5 non-null      int64
 6   Budget (Crores)     2 non-null      float64
 7   BoxOffice (Crores)  5 non-null      float64
 8   Rating              5 non-null      float64
 9   Duration (minutes)  5 non-null      int64
 10  LeadActor           5 non-null      object
 11  LeadActress         5 non-null      object
 12  Language            5 non-null      object
 13  ProductionCompany   5 non-null      object
dtypes: float64(3), int64(3), object(8)
memory usage: 688.0+ bytes

In [134]:
df.isnull().sum()

index                 0
MovieID               0
Title                 0
Director              0
Genre                 1
ReleaseYear           0
Budget (Crores)       3
BoxOffice (Crores)    0
Rating                0
Duration (minutes)    0
LeadActor             0
LeadActress           0
Language              0
ProductionCompany     0
dtype: int64

In [135]:
# fill null columns with 'Unknown' in 'Genre' and fill median values for 'Budget (Crores)

In [136]:
df['Genre']=df['Genre'].fillna('Unknown')
df['Budget (Crores)']=df['Budget (Crores)'].fillna(df['Budget (Crores)'].median())

In [137]:
# remove special charcters and replace with '_' to avoid change in index

In [138]:
df.columns = df.columns.str.replace(r"[()\s]","_",regex=True).str.strip("_")

In [139]:
print(df.columns.tolist())

['index', 'MovieID', 'Title', 'Director', 'Genre', 'ReleaseYear', 'Budget__Crores', 'BoxOffice__Crores', 'Rating', 'Duration__minutes', 'LeadActor', 'LeadActress', 'Language', 'ProductionCompany']

In [87]:
# delete any duplicates if exist

In [88]:
df=df.drop_duplicates()

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5 non-null      int64
 1   MovieID            5 non-null      object
 2   Title              5 non-null      object
 3   Director           5 non-null      object
 4   Genre              5 non-null      object
 5   ReleaseYear        5 non-null      int64
 6   Budget__Crores     5 non-null      float64
 7   BoxOffice__Crores  5 non-null      float64
 8   Rating             5 non-null      float64
 9   Duration__minutes  5 non-null      int64
 10  LeadActor          5 non-null      object
 11  LeadActress        5 non-null      object
 12  Language           5 non-null      object
 13  ProductionCompany  5 non-null      object
dtypes: float64(3), int64(3), object(8)
memory usage: 688.0+ bytes

In [90]:
df.head()

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget__Crores,BoxOffice__Crores,Rating,Duration__minutes,LeadActor,LeadActress,Language,ProductionCompany
0,0,MOV001,Lagaan,Ashutosh Gowariker,Unknown,2001,150.0,100.0,8.1,224,Aamir Khan,Gracy Singh,Hindi,Aamir Khan Productions
1,1,MOV002,Kabhi Khushi Kabhie Gham...,Karan Johar,Family Drama,2001,50.0,100.0,7.9,210,Shah Rukh Khan,Kajol,Hindi,Dharma Productions
2,2,MOV003,M.S. Dhoni: The Untold Story,Neeraj Pandey,Biographical Sports Drama,2016,150.0,215.0,7.9,184,Sushant Singh Rajput,Kiara Advani,Hindi,Fox Star Studios
3,3,MOV004,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,2017,250.0,1810.0,8.2,171,Prabhas,Anushka Shetty,Telugu,Arka Media Works
4,4,MOV005,Chennai Express,Rohit Shetty,Action Comedy,2013,150.0,423.0,6.4,141,Shah Rukh Khan,Deepika Padukone,Hindi,Red Chillies Entertainment

In [91]:
# save cleaned file into .xlsx

In [92]:
df.to_excel("cleaned_bollywood_movies.xlsx", index=False)

# Cleaning indian_movies

In [93]:
# load indian_movies

In [94]:
da_path=os.path.join('movies_data','indian_movies.csv')
df = pd.read_csv(da_path)

In [95]:
df.head()

,Unnamed: 0,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,7,MOV008,Sarkar (Tamil),A. R. Murugadoss,Action Thriller,2005.0,NaN,NaN,7.5,173.0,Vijay,Keerthy Suresh,Tamil,Kalaignar TV
1,9,MOV010,2.0 (Tamil),S. Shankar,Science Fiction Action,2018.0,550.0,800.0,6.9,147.0,Rajinikanth,Amy Jackson,Tamil,Lyca Productions
2,21,MOV022,K.G.F: Chapter 1,Prashanth Neel,Action Drama,2018.0,50.0,250.0,7.9,156.0,Yash,Srinidhi Shetty,Kannada,Hombale Films
3,23,MOV024,Avengers: Endgame (Dubbed),"Anthony Russo, Joseph Russo",Superhero,2019.0,NaN,NaN,8.4,181.0,Robert Downey Jr.,Scarlett Johansson,"English (Dubbed in Telugu, Kannada, Hindi)",Marvel Studios
4,25,MOV026,Pailwaan,S. Krishna,Sports Action,2019.0,30.0,55.0,6.8,NaN,Sudeep,Aakanksha Singh,Kannada,RRR Motion Pictures

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          18 non-null     int64
 1   MovieID             18 non-null     object
 2   Title               18 non-null     object
 3   Director            18 non-null     object
 4   Genre               18 non-null     object
 5   ReleaseYear         17 non-null     float64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              17 non-null     float64
 9   Duration (minutes)  17 non-null     float64
 10  LeadActor           18 non-null     object
 11  LeadActress         18 non-null     object
 12  Language            18 non-null     object
 13  ProductionCompany   18 non-null     object
dtypes: float64(5), int64(1), object(8)
memory usage: 2.1+ KB

In [97]:
df.isnull().sum()

Unnamed: 0            0
MovieID               0
Title                 0
Director              0
Genre                 0
ReleaseYear           1
Budget (Crores)       8
BoxOffice (Crores)    8
Rating                1
Duration (minutes)    1
LeadActor             0
LeadActress           0
Language              0
ProductionCompany     0
dtype: int64

In [98]:
# remove special charcters and replace with '_' to avoid change in index

In [99]:
df.columns=df.columns.str.replace(r"[()\s]","_",regex=True).str.strip("_")

In [100]:
# delete column Unnamed:  0

In [101]:
df = df.drop(columns=["Unnamed:_0"])

In [102]:
print(df.columns.tolist())

['MovieID', 'Title', 'Director', 'Genre', 'ReleaseYear', 'Budget__Crores', 'BoxOffice__Crores', 'Rating', 'Duration__minutes', 'LeadActor', 'LeadActress', 'Language', 'ProductionCompany']

In [103]:
# fill null values in ReleaseYear','Budget__Crores','BoxOffice__Crores', 'Rating', 'Duration__minutes' with median values.

In [104]:
cols=['ReleaseYear','Budget__Crores','BoxOffice__Crores', 'Rating', 'Duration__minutes'] 
for col in cols:
    df[col]=df[col].fillna(df[col].median())

In [105]:
# drop duplicates if any exists.

In [106]:
df=df.drop_duplicates()

In [107]:
# save cleaned file into .xlsx format

In [108]:
df.to_excel("cleaned_indian_movies.xlsx",index= False)

# Cleaning tollywood_movies.xlsx

In [109]:
#load tollywood_movies.xlsx

In [110]:
db_path = os.path.join('movies_data','tollywood_movies.xlsx')
df = pd.read_excel(db_path)

In [111]:
df.head()

,Unnamed: 0,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,0,MOV004,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,NaN,250,1810,8.2,171.0,Prabhas,Anushka Shetty,Telugu,Arka Media Works
1,1,MOV021,Bahubali: The Beginning,S. S. Rajamouli,Epic Fantasy Action,2015.0,180,650,8.1,159.0,Prabhas,Tamannaah,Telugu,NaN
2,2,MOV023,Sye Raa Narasimha Reddy,Surender Reddy,Historical Action,2019.0,200,265,7.1,167.0,Chiranjeevi,Nayanthara,Telugu,Konidela Production Company
3,3,MOV025,Jersey,Gowtam Tinnanuri,Sports Drama,2019.0,20,45,7.8,NaN,Nani,Shraddha Srinath,NaN,Sithara Entertainments
4,4,MOV027,Geetha Govindam,Parasuram,Romantic Comedy,2018.0,10,130,NaN,148.0,Vijay Deverakonda,Rashmika Mandanna,NaN,GA2 Pictures

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         8 non-null      float64
 6   Budget (Crores)     10 non-null     int64
 7   BoxOffice (Crores)  10 non-null     int64
 8   Rating              9 non-null      float64
 9   Duration (minutes)  9 non-null      float64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            7 non-null      object
 13  ProductionCompany   9 non-null      object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.2+ KB

In [113]:
df.isnull().sum()

Unnamed: 0            0
MovieID               0
Title                 0
Director              0
Genre                 0
ReleaseYear           2
Budget (Crores)       0
BoxOffice (Crores)    0
Rating                1
Duration (minutes)    1
LeadActor             0
LeadActress           0
Language              3
ProductionCompany     1
dtype: int64

In [114]:
# remove special charcters and replace with '_' to avoid change in index

In [115]:
df.columns = df.columns.str.replace(r"[()\s]","_",regex=True).str.strip("_")

In [116]:
print(df.columns.tolist())

['Unnamed:_0', 'MovieID', 'Title', 'Director', 'Genre', 'ReleaseYear', 'Budget__Crores', 'BoxOffice__Crores', 'Rating', 'Duration__minutes', 'LeadActor', 'LeadActress', 'Language', 'ProductionCompany']

In [117]:
# drop column Unnamed: 0

In [118]:
df = df.drop(columns=['Unnamed:_0'])

In [119]:
# null numeric columns are filled with median values .

In [120]:
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [121]:
#null text columns are filled with 'Unknown'.

In [122]:
text_cols = df.select_dtypes(include='object').columns
for col in text_cols:
    df[col] = df[col].fillna("Unknown").str.strip()

In [123]:
# delete duplicates if any exists.

In [124]:
df = df.drop_duplicates()

In [125]:
# save cleaned files into .xlsx format.

In [126]:
df.to_excel("cleaned_tollywood_movies.xlsx", index=False)